<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IRemoteRecorderManagement">
                    <security mode="Transport" />
                </binding>
                <binding name="BasicHttpBinding_ISessionManagement">
                    <security mode="Transport" />
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://localhost/Panopto/PublicAPISSL/4.2/RemoteRecorderManagement.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRemoteRecorderManagement"
                contract="RemoteRecorderManagement42.IRemoteRecorderManagement"
                name="BasicHttpBinding_IRemoteRecorderManagement" />
            <endpoint address="https://localhost/Panopto/PublicAPISSL/4.6/SessionManagement.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISessionManagement"
                contract="SessionManagement46.ISessionManagement" name="BasicHttpBinding_ISessionManagement" />
        </client>
    </system.serviceModel>
</configuration>